    <script src="{{ ipserver }}/static/assets/js/vendors/jquery/jquery.min.js"></script>
    <!-- bootstrap js-->
    <script src="{{ ipserver }}/static/assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js" defer=""></script>
    <script src="{{ ipserver }}/static/assets/js/vendors/bootstrap/dist/js/popper.min.js" defer=""></script>
    <!--fontawesome-->
    <script src="{{ ipserver }}/static/assets/js/vendors/font-awesome/fontawesome-min.js" data-auto-a11y="true"></script>
    <!-- feather-->
    <script src="{{ ipserver }}/static/assets/js/vendors/feather-icon/feather.min.js" data-auto-a11y="true"></script>
    <script src="{{ ipserver }}/static/assets/js/vendors/feather-icon/custom-script.js" data-auto-a11y="true"></script>

    <!-- Plugins JS start-->

    <script src="{{ ipserver }}/static/assets/js/tooltip-init.js"></script>
    <script src="{{ ipserver }}/static/assets/js/animation/wow/wow.min.js"></script>
    <script src="{{ ipserver }}/static/assets/js/landing/landing.js"></script>

    <!-- config-->
    <script src="{{ ipserver }}/static/assets/js/config.js"></script>

    <!-- apex-->
    <script src="{{ ipserver }}/static/assets/js/chart/apex-chart/apex-chart.js"></script>


        <!-- knobchart-->
    <script src="{{ ipserver }}/static/assets/js/chart/knob/knob.min.js"></script>
    <!-- page_knobchart-->
    <script src="{{ ipserver }}/static/assets/js/chart/knob/knob-chart.js"></script>

    <!-- chart_widget-->
    <script src="{{ ipserver }}/static/assets/js/chart-widget.js"></script>


    <script src="{{ ipserver }}/static/assets/js/vendors/swiper/swiper-bundle.min.js"></script>
    <!-- product_miniswiper-->

    <!-- dashboard_2-->
    <script src="{{ ipserver }}/static/assets/js/dashboard/dashboard_2.js"></script>

        <!-- googlechart-->
    <script src="{{ ipserver }}/static/assets/js/chart/google/google-chart-loader.js"></script>
    <!-- page_googlechart-->
    <script src="{{ ipserver }}/static/assets/js/chart/google/google-chart.js"></script>

    <!-- custom script -->
    <script src="{{ ipserver }}/static/assets/js/script.js"></script>
